$all-font-color: #000000;
$body-background: #eeeeee;
$sans-serif-font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$header-button-color: #4320a7;
$background-image-header: url("../img/header_background_v1.jpg") no-repeat center;
$nav-hover-color: rgba(67, 32, 167, 0.7);
$nav-text-color: #ff0000;
$seach-border-color: #808080;
$article-background-color: #ffffff;
$post-description-color: #808080;