$all-font-color: #000000;
$body-background: #ffffff;
$sans-serif-font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$header-button-color: #1ca7a3;
$background-image-header: url("../img/header_background_v1.jpg") no-repeat center;
$nav-hover-color: rgba(28, 167, 163, 0.7);
$nav-text-color: #ffffff;
$seach-border-color: #808080;
$article-background-color: #f2f2f2;
$post-description-color: #ff0000;

